@model IEnumerable<University.Models.Inscricao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estudante.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInscricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estudante.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInscricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InscricaoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InscricaoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InscricaoId })
        </td>
    </tr>
}

</table>
